<h1>Listado de Heroes</h1>
<hr />

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']" class="btn btn-outline-primary" type="button" name="button">
      <i class="fa fa-plus"></i>
      Nuevo
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Bio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes; let i = index">
            <td scope="row">{{ i + 1 }} </td>
            <td> {{ heroe.nombre }} </td>
            <td> {{ heroe.casa }}  </td>
            <td> {{ heroe.bio }}  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


